/* RESET */

/* Aquí definimos las Custom properties */
:root {
  --color-primario: #181818;
  --color-secundario: #f0f0f0;

  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;

  --verde-primario: #75934c;
  --verde-secundario: #4b573a;
  --verde-terciario: #9caa74;
}

/* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #f0f0f0;
    --color-secundario: #181818;
  }
} */

/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primario: black;
    --color-secundario: white;
  }
}

/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* opcional */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
}

/* template {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100px;
} */

/* RESET */

.header {
  width: 100%;
  position: absolute;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1em;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.sticky {
  /* width: 100%; */
  position: fixed;
}

.nav__img {
  width: 50px;
  z-index: 1;
}

.nav__img img {
  border-radius: 50%;
}

.nav__h1 {
  color: var(--color-secundario);
  z-index: 1;
  font-size: 20px;
  padding: 0.5em;
}

.nav__buttons {
  z-index: 1;
  display: flex;
  align-items: center;
}

.nav__cart {
  border-radius: 0.5em;
  padding: 0 1em;
}

svg {
  width: 35px;
  fill: var(--color-secundario);
}

.landing {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__container--1 {
  width: 100%;
  background: url(image/background-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.landing__h2,
.landing__p {
  color: var(--color-secundario);
  padding: 1em;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

.landing__p {
  font-size: 24px;
  padding: 2em;
}

.landing__h2--dark {
  color: var(--color-primario);
  padding-bottom: 0.5em;
}

.landing__p--dark {
  color: var(--color-primario);
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  /* text-transform: uppercase; */
  white-space: pre-line;
  text-align: center;
  padding: 0 2em 1em;
}

.overlay div {
  position: relative;
}

.landing__p::before {
  content: "";
  width: 30px;
  height: auto;
  border: 2px solid darkgoldenrod;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(50%);
  /* z-index: 1; */
}

.landing__p::after {
  content: "";
  width: 30px;
  height: auto;
  border: 2px solid darkgoldenrod;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(-50%);
  /* z-index: 1; */
}

.landing__img {
  position: relative;
}

.landing__img img {
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.landing__container--2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.landing__button {
  font-size: 20px;
  padding: 0.5em 3em;
  border: 1px solid var(--color-primario);
  border-radius: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
}

.landing__button--green {
  border-color: var(--verde-primario);
  color: var(--verde-primario);
  margin: 0.5em auto;
}

.landing__button--green:active {
  background: var(--verde-primario);
  color: var(--color-secundario);
}

.landing__button--filled {
  background-color: var(--verde-primario);
  color: var(--color-secundario);
  border: none;
  margin: 0.5em auto;
}

.landing__button--filled:active {
  background: var(--color-secundario);
  color: var(--verde-primario);
  border: 1px solid var(--verde-primario);
}

.landing__img--2 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2em 0;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__img--2 img {
  height: 250px;
}

.landing__h2--drinks {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.landing__form {
  width: 100%;
  /* background: #181818; */
}

.landing__container--3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.landing__prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  color: var(--color-secundario);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.landing__prices span {
  padding: 0.5em 0 0;
}

.landing__li {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.landing__price--container {
  padding-top: 0.3em;
}
.landing__price--container span {
  font-size: 28px;
}

.landing__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-primario);
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}

.landing__bar div {
  display: flex;
}

.landing__style {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.landing__add,
.landing__substract {
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 600;
  background: var(--verde-primario);
  color: var(--color-secundario);
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}

.landing__add:active,
.landing__substract:active {
  background: var(--verde-secundario);
}

.landing__input {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: auto 0;
  border: none;
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.landing__ibus,
.landing__vol {
  font-weight: 600;
  padding-left: 0.2em;
}

.landing__container--4 {
  margin-bottom: 2em;
}

.landing__bambu {
  display: flex;
  align-items: center;
}

.landing__img--vegan {
  width: 25px;
  margin-left: 10px;
}

.landing__price {
  font-size: 28px;
}

.footer {
  width: 100%;
  background: var(--color-primario);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.footer p {
  color: var(--color-secundario);
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding: 0.5em 0;
}

.landing__modal {
  width: 100%;
  height: 100vh;
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  width: 90%;
  height: auto;
  max-height: 500px;
  background: var(--color-secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--verde-primario);
  border-radius: 0.5em;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal__title {
  width: 100%;
  margin-top: 2em;
  padding: 0 1em;
  text-transform: uppercase;
  text-align: center;
}

.modal__subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  position: sticky;
  top: 0;
  background: var(--color-secundario);
}

.order__line {
  width: 100%;
  display: flex;
  /* display: none; */
  justify-content: space-between;
  padding: 10px 20px;
}

.modal__list {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line__item {
  width: 40%;
}

.line__quantity {
  width: 30%;
}

.line__price {
  width: 30%;
}

.line__item,
.line__quantity,
.line__price {
  text-align: center;
}

.modal__buttons {
  display: flex;
}

.modal__button {
  font-size: 18px;
  padding: 0.5em;
  border: 1px solid var(--verde-primario);
  border-radius: 0.1em;
  text-transform: uppercase;
  margin: 0.5em 0.5em 1em;
}

hr {
  width: 80%;
  margin-top: 1em;
}

.modal__total--container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.empty__order {
  width: 100%;
  /* display: none; */
  text-align: center;
  margin: 40px auto;
}

.modal__table {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__thead {
  width: 100%;
  padding: 1em 0 0;
  font-weight: 600;
}

.modal__tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}

.modal__tr :nth-child(1) {
  width: 40%;
}
.modal__tr :nth-child(2) {
  width: 30%;
}
.modal__tr :nth-child(3) {
  width: 30%;
}

.modal__tbody {
  width: 100%;
  text-align: center;
}

.landing__branch {
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.landing__branch img {
  padding: 0 1em;
  height: 350px;
}

.branch__info {
  width: calc(100% - 2em);
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

/* .hidden {
  visibility: hidden;
} */

.branch__info h3 {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-secundario);
  padding: 0.5em 0;
  text-align: center;
  line-height: 1;
}

.branch__info p {
  font-size: 20px;
  color: var(--color-secundario);
  padding-bottom: 0.5em;
  text-align: center;
}

.branch__info a {
  font-size: 20px;
  color: var(--color-secundario);
  padding: 0.3em;
  margin-top: 0.5em;
  border: 1px solid var(--color-secundario);
  border-radius: 0.2em;
  cursor: pointer;
}

.branch__info a:active {
  color: var(--color-primario);
  background: var(--color-secundario);
}

.landing__container--6 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__container--6 a {
  width: 50%;
  font-size: 20px;
  color: var(--color-primario);
  padding: 0.3em;
  margin-top: 0.5em;
  border: 1px solid var(--color-primario);
  border-radius: 0.2em;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.landing__container--6 p {
  white-space: pre-line;
}

.landing__media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.landing__media img {
  width: 40px;
  margin: 0 1em;
}

.nav__container--menu {
  width: 50%;
  max-width: 300px;
  height: 100%;
  position: fixed;
  background: var(--color-secundario);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid var(--color-primario);
  transition: all 0.2s ease;
  transform: translateX(100%);
  z-index: 2;
}

.translate {
  transform: translateX(0%);
}

.nav__container--menu li {
  text-transform: uppercase;
  color: var(--color-primario);
  position: relative;
  padding: 1em;
}

.nav__container--menu li:not(:first-child):hover {
  border-right: 5px solid var(--color-primario);
  background: #e4e3e3;
  transition: all 0.2s ease;
}

@keyframes navMenu {
  0% {
    border-right: 5px solid var(--color-primario);
    position: absolute;
    right: 5px;
    opacity: 0.2;
  }

  100% {
    border-right: 5px solid var(--color-primario);
    position: absolute;
    right: 0px;
  }
}

.nav__media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.nav__media img {
  width: 80px;
  padding: 1em;
}

.nav__menu {
  border: 1px solid var(--color-secundario);
  border-radius: 0.2em;
  padding: 0.5em;
  color: var(--color-secundario);
}

#menu-back {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-back a {
  cursor: pointer;
}

#arrow-svg {
  padding: 0 0.5em;
  fill: var(--color-primario);
  cursor: pointer;
}

.nav__menu {
  position: relative;
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu div {
  width: 30px;
  height: 4px;
  background-color: var(--color-secundario);
}

.nav__menu div::before,
.nav__menu div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--color-secundario);
}

.nav__menu div::before {
  transform: translateY(10px);
}

.nav__menu div::after {
  transform: translateY(-10px);
}
